<div>
    <div><h2>Punto 1 (paises)</h2></div>
    <div><a href="https://localhost:44323/api/Pais/AR">Get pais AR</a></div>
    <div><a href="https://localhost:44323/api/Pais/CO">Get pais CO</a></div>
    <div><a href="https://localhost:44323/api/Pais/CO">Get pais BR</a></div>
</div>
<hr />
<div>
    <div><h2>Punto 1 (busqueda)</h2></div>
    <div><a href="https://localhost:44323/api/Busqueda/iphone">Buscar iphone</a></div>
    <div><a href="https://localhost:44323/api/Busqueda/samsung">Buscar samsung</a></div>
</div>
<hr />
<div>
    <div><h2>Punto 1 (usuarios)</h2></div>
    <div>
        <form action="https://localhost:44323/api/User/1" method="GET">
            <input type="submit" value="Get usuario 1">
        </form>
    </div>
    <div>
        <form action="https://localhost:44323/api/User/" method="GET">
            <input type="submit" value="Get usuarios">
        </form>
    </div>
    <div>
        Los metodos HTTP post y put se pueden probar invocandolos desde la aplicacion Postman
    </div>
</div>

